body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    position: relative;
}

h1#title {
    position: fixed;
    top: 2%;
    left: 55px;
    color: #333;
    font-size: 50px;
    margin: 0;
}

h2#subtitle {
    position: fixed;
    top: 11%;
    left: 65px;
    color: #666;
    font-size: 22px;
    margin: 0;
}

.input-box {
    z-index: 2;
    position: fixed;
    left: 50px;
    top: 55%;
    transform: translateY(-50%);
    width: 400px;
    height: 600px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: auto;
}

.radio-instructions {
    font-size: 20px;
    font-style: italic;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}


.tgl-light {
    display: none;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    display: inline-block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

.tgl-light + .tgl-btn:after {
    content: '';
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
    top: 0.2em;
    left: 0.2em;
}

.tgl-light:checked + .tgl-btn:after {
    left: calc(100% - 1.8em);
}

.radio-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-button {
    text-align: center;
    flex-grow: 2;
}

.radio-number {
    display: block;
    color: #666;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.tgl-light:checked + .tgl-btn {
    background: #4CAF50;
}

#textFields textarea {
    width: 100%;
    height: auto;
    min-height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    resize: vertical;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#vennDiagramContainer {
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    width: 60vw;
    height: 60vw;
    z-index: 1;
    border-radius: 5px;
}

#vennDiagramContainer svg {
    width: 100%;
    height: 100%;
    display: block;
}

.loading-indicator {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
