.input-box {
    position: fixed;
    left: 10px;
    top: 50%; /* Adjust to position lower on the screen */
    transform: translateY(-50%);
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.radio-button {
    margin-bottom: 20px; /* Space between radio buttons */
}

.radio-number {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
}

#setTitleBoxes input[type="text"] {
    display: block;
    margin-top: 10px;
}

/* Toggle button styles */
.tgl {
  display: none;
}



.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
  display: inline-block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
}

.tgl-light + .tgl-btn:after {
  position: absolute;
  content: '';
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
  top: 0.2em;
  left: 0.2em;
}

.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

.tgl-light:checked + .tgl-btn:after {
  left: 2.2em;
}

#textFields input[type="text"] {
    width: 100%; /* Full width */
    height: 40px; /* Short height */
}
